@charset "ISO-8859-1";

.header {
	height: 100px; /* Imposta l'altezza desiderata */
	padding: 5px 10px; /* Riduci il padding */
	background-color: red;
	overflow: hidden;
}

.header .logo {
	display: block; /* Assicurati che l'immagine sia un blocco */
	margin: 0 auto;
	/* Azzera i margini sopra e sotto, e centra l'immagine orizzontalmente */
}

h1 {
	margin-top: 20px; /* Aggiungi margine superiore */
}