@charset "ISO-8859-1";

@font-face {
	font-family: "Proxima";
	src: url("../Proxima-Nova-Regular.woff");
}

header, footer{
	padding: 0;
	background-color: blue;
	margin: auto;
	float: l
}

header{
	top: 0px;
	position: fixed;
	width: 100%;
	z-index: 1;
}

.top{
	background-color: red;
	height: 15%;
	width: auto;
	margin-bottom: 0px;
}

.logo{
	width: 75px;
	margin: auto;
}

nav{
	background-color: yellow;
	margin-top: 0px;
}

nav ul{
	margin: 0px;
	margin-left: auto;
	list-style-type: none;
	padding: 5px 0px 5px 0px;
}

nav ul li{
	display: inline;
	padding: 5px 10px 5px 10px;
	margin: auto;
}

a{
	text-decoration: none;
}

body {
	color: black;
	font-family: Proxima;
	max-width: 100%;
	background-color: fuchsia;
}

section{
	width: 40%;
	margin: auto;
	background-color: blue;
}

h1 {
	font-family: Proxima;
	margin-top: 20px; /* Aggiungi margine superiore */
}

#video {
    width: 100%; /* Il video si allungherà fino alla lunghezza della finestra */
    height: 350px; /* L'altezza del video sarà ridotta al 20% dell'altezza della finestra */
    object-fit: cover; /* Mantiene il video centrato e taglia le parti in eccesso */
	z-index: -1;
}

.video{
	margin-top: 0px;
}

.lista{
	background-color: purple;
	float: left;
	width: 100%;
	margin-top: 60px;
}

.elemento{
	text-align: center;
	float: left;
	margin-right: 3.15%;
}