@charset "ISO-8859-1";

@font-face {
	font-family: "Proxima";
	src: url("../Proxima-Nova-Regular.woff");
}

body {
	font-family: Proxima;
	max-width: 1500px;
	margin: auto;
	background-color: fuchsia;
}


#header{
	width: 100%;
	margin: 0 auto;
	background-color: red;
}

#logo{
	width: 75px;
	margin: auto;
}

#nav{
	background-color: blue;
	padding: 7.5px 0px;
}

#nav ul {
	list-style-type: none;
	margin: auto;
}

#nav ul li{
	display: inline;
	
}

#video {
    width: 100%; /* Il video si allungherà fino alla lunghezza della finestra */
    height: 350px; /* L'altezza del video sarà ridotta al 20% dell'altezza della finestra */
    object-fit: cover; /* Mantiene il video centrato e taglia le parti in eccesso */
}

#lista{
	margin: auto;
	background-color: green;
	
}

#wrapper{
	width: 75%;
	margin: auto;
	background-color: yellow;
}

.elemento{
	display: inline-block;
	margin: 0 6.25%;
	background-color: red;
}

span{
	justify-content: center;
	display: block;
}

.categoria{
	display: flex;
	justify-content: space-between;
	background-color: blue;
}

.parole{
	margin: auto;
}

.nomeCategoria{
	margin: auto;
	font-size: 75px;
}

.linkShop{
	margin: auto;
	display: flex;
	align-content: center;
}

.image{
	float: right;
}